*{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
h1, h2, h3{
    font-family: 'Libre Baskerville', serif;
}