*{
    font-family: 'Josefin Sans', sans-serif;
}
:root{
    --color-dark-green: #009458;
}
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.texto-de-ejemplo{
    color: var(--color-dark-green);
}